article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

p,
ul,
h1,
h2,
h3 {
  padding: 0;
  margin: 0; }

html {
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  color: #3A3A3A; }

.wrapper {
  width: 60%;
  max-width: 1100px;
  margin: 0 auto; }

img {
  border-radius: 50%;
  margin-right: 20px; }

.list-container {
  margin-top: 100px;
  border: 1px solid #dadada;
  border-radius: 10px; }

.list-container-header,
.load-more {
  background: #dadada;
  padding: 20px; }

.list-container-header {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px; }
  .list-container-header p {
    font-size: 1.6rem; }
  .list-container-header p:nth-of-type(1) {
    font-size: 2.5rem;
    padding-bottom: 5px; }

.list-number {
  color: #ffffff;
  background: #d20c0c;
  padding: 4px 8px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.4rem;
  margin-left: 15px; }

.list-item-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.list-item-content {
  border-top: 1px solid #dadada;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-left: 5px solid transparent; }
  .list-item-content h3 {
    font-size: 1.8rem;
    padding-bottom: 5px; }
  .list-item-content:hover {
    border-left: 5px solid blue; }

.list-item-content p {
  font-size: 1.6rem;
  line-height: 2rem; }

.list-item-content p:nth-of-type(2),
.list-item-content p:nth-of-type(3) {
  color: #a7a7a7; }

.list-item-content p:nth-of-type(2) {
  padding-top: 5px; }

.list-item-content p:nth-of-type(3) {
  padding-top: 10px; }

.fa-calendar {
  margin-right: 10px; }

.remove-button {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 7px;
  margin-top: 30px;
  font-size: 2rem; }
  .remove-button:hover {
    box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15); }

.load-more {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  text-align: center; }
  .load-more a {
    color: #3A3A3A;
    font-size: 1.8rem; }
    .load-more a:hover {
      color: #5353ec;
      text-decoration: underline; }

@media screen and (max-width: 700px) {
  .wrapper {
    width: 95%; }
  .list-container {
    margin-top: 50px; }
  .list-item-content {
    padding: 20px; } }

@media screen and (max-width: 480px) {
  img {
    display: none;
    margin-right: 0; }
  .list-container {
    margin-top: 2px; } }
